
.chat-side
  .side-header
    .top-items
      .top-items__name
        tester
      .top-items__icons
        .top-items__icons-note
          <i class='far fa-edit'></i>
        .top-items__icons-edit
          <i class="fa fa-cog"></i>
  .groups
    .group-items
      .group-items__name
        Test1
      .group-items__message
        hey